* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-weight: inherit;
}

html {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.4;
}

body {
	background-color: #f1f1f1;
	font-size: 1em;
}

h1 {
	font-size: 3em;
}

.carrousel {
	display: block;
	overflow: hidden;
	width: 100%;
	max-width: 40em;
	margin: 0 auto;
}

button {
	display: none;
	padding: 1.5em;
	border: 0;
	margin: 0;
	color: #fff;
	background-color: #1c1c1c;
}
button.inline {
	display: block;
}

.prev-btn {
	float: left;
}

.next-btn {
	float: right;
}

.carrousel--container {
	position: relative;
	left: 0;
	display: block;
	width: 100%;
	transition: all 1s ease-in-out;
}
.carrousel.inline .carrousel--container {
	width: 400%;
}

.carrousel li {
	display: block;
	width: 100%;
	margin: 1.5em auto;
}
.carrousel.inline li {
	display: inline-block;
	width: 25%;
}

.carrousel article {
	display: block;
	width: 100%;
	padding: 1.5em;
	background-color: #fff;
}

.carrousel article p {
	margin: 1.5em auto;
}
